<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint address="http://localhost:3333/Catalogo.svc" 
					  binding="basicHttpBinding"
                contract="Modulo12.Model.Services.ICatalogoService"
                name="CatalogoService" />
		</client>
	</system.serviceModel>
</configuration>