<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="WiseConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Wise;Integrated Security=True;Pooling=False"
        providerName="System.Data.SqlClient" />

    <add name="Default"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Wise;Integrated Security=True;Pooling=False" />
  </connectionStrings>

  <system.web>
    <customErrors mode="Off" defaultRedirect="Erro.aspx" />
    <compilation debug="true" targetFramework="4.0" />
    <trace enabled="true" writeToDiagnosticsTrace="true" />
  </system.web>

</configuration>