<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.serviceModel>
		<services>
			<service behaviorConfiguration="returnHttpFaults" name="Modulo12.Core.Services.CatalogoService">
				<endpoint address="" binding="basicHttpBinding" contract="Modulo12.Model.Services.ICatalogoService" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:3333/Catalogo.svc" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="returnHttpFaults">
					<dataContractSerializer maxItemsInObjectGraph="99000000" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceThrottling maxConcurrentCalls="10000" maxConcurrentInstances="10000" maxConcurrentSessions="10000" />
					<serviceMetadata policyVersion="Policy15" httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>