@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ExemploRazor</title>
</head>
<body>
    <div>
        @Html.TextBox("Nome")
		
		@*@foreach(var item in lista)
		{
			<li>@item</li>
		}*@

	</div>
</body>
</html>
