<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState timeout="1" />

	  <authentication mode="Forms">
		  <forms defaultUrl="~/" loginUrl="~/LoginAuto.aspx" />
	  </authentication>

	  <membership defaultProvider="wise">
		  <providers>
			  <add name="wise" type="Modulo13.Web.WiseMembershipProvider, Modulo13.Web"/>
		  </providers>
	  </membership>

	  <roleManager enabled="true" defaultProvider="wise">
		  <providers>
			  <add name="wise" type="Modulo13.Web.WiseRoleProvider, Modulo13.Web"/>
		  </providers>
	  </roleManager>
	  
  </system.web>

	<location path="Admin">
		<system.web>
			<authorization>
				<allow roles="ADMIN" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Debug.aspx">
		<system.web>
			<authorization>
				<allow roles="ADMIN" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Supervisor">
		<system.web>
			<authorization>
				<allow roles="ADMIN,SUPERVISOR" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

</configuration>
