<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Modulo12.Core\packages.config" />
  <repository path="..\Modulo12.Host\packages.config" />
  <repository path="..\Modulo15.Web\packages.config" />
  <repository path="..\Modulo4.Web\packages.config" />
  <repository path="..\Modulo6.Web\packages.config" />
  <repository path="..\Modulo9.Core\packages.config" />
  <repository path="..\Modulo9.Web\packages.config" />
</repositories>