<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICatalogoWebService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:19523/Services/CatalogoWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogoWebService"
                contract="CatalogoService.ICatalogoWebService" name="BasicHttpBinding_ICatalogoWebService" />
        </client>
    </system.serviceModel>
</configuration>