@model dynamic

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<title>title</title>
	</head>
	<body>
		<div>
			<h1>Sem Layout</h1>
			
			@{
				Html.RenderPartial("Pesquisa", "Pesquisa sem layout");
			}
		</div>
	</body>
</html>