<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Wise;Integrated Security=True;Pooling=False" />
    <add name="WiseEntities" connectionString="metadata=res://*/Modulo7.csdl|res://*/Modulo7.ssdl|res://*/Modulo7.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Wise;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>