<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Modulo1.Web\packages.config" />
  <repository path="..\src\Modulo5.Web\packages.config" />
  <repository path="..\src\Modulo7.Web\packages.config" />
  <repository path="..\src\MvcApplication1\packages.config" />
  <repository path="..\src\MvcApplication2\packages.config" />
</repositories>