<!DOCTYPE html>
<html>
	<head>
		<title>@ViewBag.Title - Wise10264</title>
	</head>
	<body>
		@Html.ActionLink("Sair", "Logout", "Login", new { area = string.Empty }, null)
		<div>
			@RenderBody()
		</div>
	</body>
</html>