<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" providerName="System.Data.SqlClient"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MOC10265_TESTES;Integrated Security=True;Pooling=False"/>

		<add name="DefaultNH" providerName="System.Data.SqlClient"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MOC10265_NH;Integrated Security=True;Pooling=False"/>

		<add name="RavenDB" connectionString="Url=http://localhost:8080; Database=MOC10265;" />
	</connectionStrings>
</configuration>